#root {
  --secondary: #212738;
  --details: #edf2ef;
  --primary: #57c4e5;
  height: 100%;
  font-family: "Cabin", sans-serif;
  background-color: var(--details);
  color: black;
}

body {
  margin: 0;
  height: 100vh;
}
