.Table {
  width: calc(100% - 200px);
  margin-left: 96px;
  margin-top: 48px;
  text-align: left;
  font-size: 24px;
}

.Table th {
  background-color: var(--secondary);
  color: var(--details);
  box-shadow: 3px 3px 3px var(--secondary);
  padding: 4px;
}

.Table th:first-child {
  border-radius: 8px 0 0;
}

.Table th:last-child {
  border-radius: 0 8px 0 0;
}

.Table td {
  background-color: var(--primary);
  box-shadow: 3px 3px 3px var(--secondary);
  padding: 4px;
}

.Table tr:last-child td:first-child {
  border-radius: 0 0 0 8px;
}

.Table tr:last-child td:last-child {
  border-radius: 0 0 8px 0;
}
